<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog | New Article</title>
    <link rel="stylesheet" href="/css/create-article.css" />
    <link rel="stylesheet" href="/css/static.css" />
    <link
      rel="shortcut icon"
      href="https://b-sample-work-space.storage.c2.liara.space/tech_blog/apple-touch-icon.png"
      type="image/x-icon"
    />
  </head>

  <body style="background-color: #4070f4">
    <div id="content">
      <div id="home">
        <div class="container-fluid" id="home-content">
          <div
            class="container"
            style="
              background-color: #f3f3f3;
              padding: 1rem;
              border-radius: 1rem;
            "
          >
            <div class="home-title">
              <span>add new article</span>
            </div>
            <form
              class="form"
              method="post"
              enctype="multipart/form-data"
              action="/article/new"
            >
              <div class="col-6">
                <div class="name input">
                  <label class="input-title" style="display: block"
                    >title</label
                  >
                  <input type="text" name="title" id="title" />
                  <span class="error-message text-danger"></span>
                </div>
              </div>
              <div class="col-6">
                <div class="name input">
                  <label class="input-title" style="display: block"
                    >cover</label
                  >
                  <input type="file" name="cover" id="file" />
                  <span class="error-message text-danger"></span>
                </div>
              </div>
              <div class="col-12">
                <div class="name input">
                  <label class="input-title" style="display: block"
                    >article content</label
                  >
                  <textarea id="editor" name="content"></textarea>
                  <span class="error-message text-danger"></span>
                </div>
              </div>
              <div class="col-6">
                <div class="number input">
                  <label class="input-title">article category</label>
                  <select
                    class="category-list"
                    id="category-list"
                    name="category"
                  >
                    <option value="-1">select one</option>
                  </select>
                  <span class="error-message text-danger"></span>
                </div>
              </div>
              <div class="col-6">
                <div
                  class="number input"
                  style="display: flex; align-items: center"
                >
                  <label class="input-title" style="margin-right: 1rem"
                    >tags</label
                  >
                  <select
                    class="tags-list"
                    id="tags-list"
                    name="tags"
                    multiple
                    style="height: 2rem"
                  >
                    <option value="-1" disabled>select one</option>
                  </select>
                  <span class="error-message text-danger"></span>
                </div>
              </div>
              <div class="col-12">
                <div class="bottom-form">
                  <div class="submit-btn">
                    <input
                      type="submit"
                      name="isPublished"
                      value="publish"
                      id="create-article"
                    />
                    <input
                      name="isPublished"
                      type="submit"
                      value="pre publish"
                      id="create-article"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="container-fluid" id="home-content">
          <div class="container">
            <div class="home-content-products">
              <div class="home-content-products-title">
                <span>your <span class="signup">articles</span></span>
              </div>
              <div class="home-content-products-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>number</th>
                      <th>title</th>
                      <th>populate at</th>
                      <th>update</th>
                      <th>remove</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="/js/FontAwesome.min.js"></script> -->
    <script src="/js/sweetalert_v2.js"></script>
    <script src="/js/createrticle.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.1/ckeditor.js"
      integrity="sha512-aThGT4RJc95+zt2vrs8iMjrFpsJxcFclp7tweVls6/3cNo3GWvGvtLV576o8Kdvdf3fJhrrG3wkmoea/KJMLFQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      if (Number("<%= info?.length %>")) {
        swal.fire({
          title: "<%= info[0]?.title %>",
          text: "<%= info[0]?.text %>",
          icon: "<%= info[0]?.icon %>",
          button: "ok",
        });
      }
      CKEDITOR.replace("editor", {
        language: "en",
      });
    </script>
  </body>
</html>
